body {
  margin: 0;
  padding: 10em, 10em;
  font: 15px 'Source Sans Pro', sans-serif;
  line-height: 1.6em;
  color: #222;
  text-align: center;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  line-height: 1.1;
  color: inherit;
  margin-top: 5rem;
  margin-bottom: 3rem;
}

h3 {
	margin-top: -1rem;
}

br{
  clear: both;
}

p {
    font-size: 18px;
    margin-bottom: 20px;
    line-height: 1.6em;
}

img {
	width: 70%;
	text-align: center;
	margin-left: 15%;
}

.story{
	text-align: left;
	margin-left: 13.5%;
	margin-right: 13.5%;
  margin-top: 50px;
}

.float-container {
  border: 5px solid transparent;
  padding: 20px;
  margin-bottom: 50px;
}

.float-child1 {
    width: 25%;
    float: left;
    padding-right: 20px;
    border-right: 2px solid black;
}

.float-child2 {
    width: 65%;
    float: left;
    margin-left: 20px;
}

.float-child2 img{
  width: 120%;
  margin-left: 0;
}

table {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
  text-align: center;
  font-weight: bold;
  /* color: white; */
}

tr {
  border-style:solid;
  border-width: 5px;
  border-color: transparent;
  height: 60px;
}


#attr1 {
  background-color: rgba(63, 22, 23, 0.8);
  color: white;
}
#attr2 {
  background-color: rgba(84, 29, 31, 0.8);
  color: white;
}
#attr3 {
  background-color: rgba(106,37, 39, 0.8);
  color: white;
}
#attr4 {
  background-color: rgba(127,44, 47, 0.8);
  color: white;
}
#attr5 {
  background-color: rgba(148,51, 55, 0.8);
  color: white;
}
#attr6 {
  background-color: rgba(169,58, 54, 0.8);
  color: white;
}
#attr7 {
  background-color: rgba(215,91, 96, 0.8);
  color: white;
}
#attr8 {
  background-color: rgba(229,146,149,0.8);
  color: white;
}
#attr9 {
  background-color: rgba(246, 219, 220);
  color: white;
}

tr:hover {
  border: 5px solid #f5f5f5;
}

.float-map {
  border: 5px solid transparent;
  padding: 20px;
  color: black;
}

.float1 {
  width: 48%;
  float: left;
  border-right: 2px solid transparent;
}

.float2 {
  width: 48%;
  float: left;
  text-align: left;
  margin-top: -2rem;
}

#map1 {
  visibility: visible;
  margin-top: 2.4rem;
}

#map2 {
  margin-top: -26rem;
  visibility: hidden;
}

.float-map button{
  width: 298px;
  background-color: rgb(143, 165, 199);
  border: 5px solid transparent;
  font-weight: bold;
  font-size: 1.1em;
  padding: .5rem;
  margin-left: 5px;
}

#btn1{
  border-color: rgb(90, 128, 179);
}

#btn2{
  border-color: transparent;
}

#btn1:hover, #btn2:hover{
  border: 5px solid rgb(90, 128, 179);
}
